name: Codeception tests

on:
    workflow_call:
        inputs:
            app_env:
                required: true
                type: string
            opendxp_test:
                required: true
                type: string
                default: '1'
            php_version:
                required: true
                type: string
            database:
                required: false
                type: string
                default: 'mariadb:10.7'
            server_version:
                required: false
                type: string
            dependencies:
                required: true
                type: string
            experimental:
                required: true
                type: boolean
                default: false
            opendxp_version:
                required: false
                type: string
            opendxp_admin_version:
                required: false
                type: string
            opendxp_open_search_host:
                required: false
                type: string
                default: '39200'
            opendxp_opensearch_version:
                required: false
                type: string
                default: '2'
            coverage:
                required: false
                type: string
                default: 'none'
            cache_clear:
                required: false
                type: boolean
                default: false
            composer_options:
                required: false
                type: string
            gotenberg_dns:
                required: false
                type: string
                default: 'http://127.0.0.1:31234'
            redis_dsn:
                required: false
                type: string
                default: 'redis://127.0.0.1:63379'

        secrets:
            COMPOSER_OPENDXP_REPO_PACKAGIST_TOKEN:
                required: false
            SSH_PRIVATE_KEY_OPENDXP_DEPLOYMENTS_USER:
                required: false
            GOOGLE_CLIENT_ID:
                required: false
            GOOGLE_CLIENT_SECRET:
                required: false
            OPENDXP_INSTANCE_IDENTIFIER:
                required: false
            OPENDXP_ENCRYPTION_SECRET:
                required: false

jobs:
    codeception-tests:
        name: Codeception tests
        runs-on: ubuntu-latest
        continue-on-error: ${{ inputs.experimental == true }}
        env:
            SYMFONY_DEPRECATIONS_HELPER: "weak"
            OPENDXP_TEST_DB_DSN: "mysql://root@127.0.0.1:33006/opendxp_test"
            OPENDXP_OPEN_SEARCH_HOST: "localhost:${{ inputs.opendxp_open_search_host }}"
            OPENDXP_PROJECT_ROOT: ${{ github.workspace }}
            APP_ENV: ${{ inputs.app_env }}
            OPENDXP_TEST: ${{ inputs.opendxp_test }}
            OPENDXP_INSTANCE_IDENTIFIER: ${{ secrets.OPENDXP_INSTANCE_IDENTIFIER }}
            OPENDXP_ENCRYPTION_SECRET: ${{ secrets.OPENDXP_ENCRYPTION_SECRET }}
            OPENDXP_TEST_REDIS_DSN: ${{inputs.redis_dsn}}
            OPENDXP_TEST_GOTENBERG_DNS: ${{inputs.gotenberg_dns}}
        services:
            database:
                image: ${{ inputs.database }}
                ports:
                    - 33006:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
                env:
                    MYSQL_ALLOW_EMPTY_PASSWORD: yes

            opensearch:
                image: opensearchproject/opensearch:${{ inputs.opendxp_opensearch_version }}
                ports:
                    - ${{ inputs.opendxp_open_search_host }}:9200
                env:
                    cluster.name: "opensearch-cluster"
                    node.name: "opensearch-node"
                    discovery.seed_hosts: "opensearch-node"
                    bootstrap.memory_lock: true
                    discovery.type: "single-node"
                    DISABLE_SECURITY_PLUGIN: true
                    OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"

            gotenberg:
                image: gotenberg/gotenberg:8
                ports:
                    - 31234:3000

            redis:
                image: redis
                ports:
                    - 63379:6379

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Install PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: ${{ inputs.coverage }}
                    extensions: imagick
                    ini-values: display_errors=On, display_startup_errors=On, error_reporting=32767
                    php-version: ${{ inputs.php_version }}

            -   name: Install Ghostscript and PDFInfo
                run: |
                    sudo apt-get update --allow-releaseinfo-change
                    sudo apt-get install -y ghostscript poppler-utils

            -   name: Set Database Configuration
                run: |
                    cp .github/ci/files/.my.cnf ~/.my.cnf

            -   name: Create Database
                run: |
                    mysql -e "CREATE DATABASE opendxp_test CHARSET=utf8mb4;"

            -   name: Setup OpenDXP environment
                run: |
                    chmod 755 .github/ci/scripts/setup-opendxp-environment.sh
                    .github/ci/scripts/setup-opendxp-environment.sh

            -   name: Set Symfony version constraint in composer.json
                if: matrix.symfony
                env:
                    SYMFONY_VERSION: ${{ matrix.symfony }}
                run: |
                    .github/ci/scripts/symfony-require-dev.sh

            -   name: Update OpenDXP Version
                if: inputs.opendxp_version && !contains(github.repository, 'open-dxp/opendxp')
                run: |
                    composer require --no-update "open-dxp/opendxp:${{ inputs.opendxp_version }}"

            -   name: Update OpenDXP Admin Bundle Version
                if: inputs.opendxp_admin_version && !contains(github.repository, 'open-dxp/admin-bundle')
                run: |
                    composer require --no-update "open-dxp/admin-bundle:${{ inputs.opendxp_admin_version }}"

            -   name: Install dependencies with Composer
                uses: ramsey/composer-install@v3
                with:
                    dependency-versions: ${{ inputs.dependencies }}
                    composer-options: ${{ inputs.composer_options }}

            -   name: Run cache clear
                if: inputs.cache_clear == true
                run: |
                    ./bin/console cache:clear --no-interaction

            -   name: Run Codeception
                run: vendor/bin/codecept run -c . -vvv --xml
