name: Static analysis

on:
    workflow_call:
        inputs:
            app_env:
                required: true
                type: string
            opendxp_test:
                required: true
                type: string
            php_version:
                required: true
                type: string
            symfony:
                required: false
                type: string
            dependencies:
                required: true
                type: string
            experimental:
                required: true
                type: string
            opendxp_version:
                required: false
                type: string
            opendxp_admin_version:
                required: false
                type: string
            coverage:
                required: false
                type: string
                default: 'none'
            cache_clear:
                required: false
                type: boolean
                default: false
            composer_options:
                required: false
                type: string
            composer_install_suggestions:
                default: false
                required: false
                type: boolean

jobs:
    static-analysis:
        name: Static analysis with phpstan
        runs-on: ubuntu-latest
        continue-on-error: ${{ inputs.experimental == true }}
        env:
            OPENDXP_PROJECT_ROOT: ${{ github.workspace }}
            APP_ENV: ${{ inputs.app_env }}
            OPENDXP_TEST: ${{ inputs.opendxp_test }}
            OPENDXP_INSTANCE_IDENTIFIER: ${{ secrets.OPENDXP_CI_INSTANCE_IDENTIFIER }}
            OPENDXP_ENCRYPTION_SECRET: ${{ secrets.OPENDXP_CI_ENCRYPTION_SECRET }}

        steps:
            -   name: Checkout Code
                uses: actions/checkout@v4

            -   name: Configure Git for PAT
                run: |
                    git config --global url."https://x-access-token:${{ secrets.CLA_ACTION_ACCESS_TOKEN }}@github.com/".insteadOf "https://github.com/"

            -   name: Install PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: ${{ inputs.coverage }}
                    php-version: ${{ inputs.php_version }}

            -   name: Setup OpenDXP environment
                env:
                    COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
                run: |
                    .github/ci/scripts/setup-opendxp-environment.sh

            -   name: Set Symfony version constraint in composer.json
                if: matrix.symfony
                env:
                    SYMFONY_VERSION: ${{ matrix.symfony }}
                run: |
                    .github/ci/scripts/symfony-require-dev.sh

            -   name: Update OpenDXP Version
                if: inputs.opendxp_version && !contains(github.repository, 'open-dxp/opendxp')
                run: |
                    composer require --no-update "open-dxp/opendxp:${{ inputs.opendxp_version }}"

            -   name: Update OpenDXP Admin Bundle Version
                if: inputs.opendxp_admin_version && !contains(github.repository, 'open-dxp/admin-bundle')
                run: |
                    composer require --no-update "open-dxp/admin-bundle:${{ inputs.opendxp_admin_version }}"

            -   name: Add Composer Suggestions
                if: inputs.composer_install_suggestions
                run: |
                    composer require $(cat composer.json | jq .suggest | jq -r 'to_entries | map("\(.key):\(.value)") | join(" ")') -W --no-progress --no-update

            -   name: Install dependencies with Composer
                uses: ramsey/composer-install@v3
                with:
                    dependency-versions: ${{ inputs.dependencies }}
                    composer-options: ${{ inputs.composer_options }}

            -   name: Run cache clear
                if: inputs.cache_clear == true
                run: |
                    ./bin/console cache:clear --no-interaction

            -   name: Run a static analysis with phpstan/phpstan
                run: vendor/bin/phpstan analyse --memory-limit=-1

            -   name: Generate baseline file
                if: failure()
                run: vendor/bin/phpstan analyse --memory-limit=-1 --generate-baseline

            -   name: Upload baseline file
                if: failure()
                uses: actions/upload-artifact@v4
                with:
                    name: phpstan-baseline.neon
                    path: phpstan-baseline.neon
