name: Codeception tests

on:
    workflow_call:
        inputs:
            app_env:
                required: true
                type: string
            opendxp_test:
                required: true
                type: string
                default: '1'
            php_version:
                required: true
                type: string
            database:
                required: false
                type: string
                default: 'mariadb:10.7'
            server_version:
                required: true
                type: string
            dependencies:
                required: true
                type: string
            experimental:
                required: true
                type: boolean
                default: false
            use_opendxp_source:
                required: false
                type: boolean
                default: false
            opendxp_version:
                required: false
                type: string
            opendxp_admin_version:
                required: false
                type: string
            opendxp_open_search_host:
                required: false
                type: string
                default: '39200'
            opendxp_opensearch_version:
                required: false
                type: string
                default: '2'
            coverage:
                required: false
                type: string
                default: 'none'
            cache_clear:
                required: false
                type: boolean
                default: false
            enable_chromium:
                required: false
                type: boolean
                default: false
            enable_symfony_server:
                required: false
                type: boolean
                default: false
            install_assets:
                required: false
                type: boolean
                default: false
            install_codeception_framework:
                required: false
                type: boolean
                default: false
            install_ghostscript_and_pdfinfo:
                required: false
                type: boolean
                default: false
            composer_options:
                required: false
                type: string
            composer_install_suggestions:
                required: false
                type: boolean
                default: false
            composer_root_version:
                required: false
                type: string
            enable_gotenberg_service:
                required: false
                type: boolean
                default: false
            enable_redis_service:
                required: false
                type: boolean
                default: false
            gotenberg_dns:
                required: false
                type: string
                default: 'http://127.0.0.1:31234'
            redis_dsn:
                required: false
                type: string
                default: 'redis://127.0.0.1:63379'
            codecept_environment:
                required: false
                type: string
            execute_post_checkout_action:
                required: false
                type: boolean
                default: false

        secrets:
            CLA_ACTION_ACCESS_TOKEN:
                required: false
            COMPOSER_OPENDXP_REPO_PACKAGIST_TOKEN:
                required: false
            SSH_PRIVATE_KEY_OPENDXP_DEPLOYMENTS_USER:
                required: false
            GOOGLE_CLIENT_ID:
                required: false
            GOOGLE_CLIENT_SECRET:
                required: false
            OPENDXP_INSTANCE_IDENTIFIER:
                required: false
            OPENDXP_ENCRYPTION_SECRET:
                required: false

jobs:
    codeception-tests:
        name: Codeception tests
        runs-on: ubuntu-latest
        continue-on-error: ${{ inputs.experimental == true }}
        env:
            SYMFONY_DEPRECATIONS_HELPER: "weak"
            OPENDXP_TEST_DB_DSN: "mysql://root@127.0.0.1:33006/opendxp_test?serverVersion=${{ inputs.server_version }}"
            OPENDXP_OPEN_SEARCH_HOST: "localhost:${{ inputs.opendxp_open_search_host }}"
            OPENDXP_PROJECT_ROOT: ${{ github.workspace }}
            APP_ENV: ${{ inputs.app_env }}
            OPENDXP_TEST: ${{ inputs.opendxp_test }}
            OPENDXP_INSTANCE_IDENTIFIER: ${{ secrets.OPENDXP_INSTANCE_IDENTIFIER }}
            OPENDXP_ENCRYPTION_SECRET: ${{ secrets.OPENDXP_ENCRYPTION_SECRET }}
            OPENDXP_TEST_REDIS_DSN: ${{inputs.redis_dsn}}
            OPENDXP_TEST_GOTENBERG_DNS: ${{inputs.gotenberg_dns}}
            OPENDXP_CODECEPTION_FRAMEWORK_VERSION_BRANCH: "1.x"
        services:
            database:
                image: ${{ inputs.database }}
                ports:
                    - 33006:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
                env:
                    MYSQL_ALLOW_EMPTY_PASSWORD: yes

            opensearch:
                image: opensearchproject/opensearch:${{ inputs.opendxp_opensearch_version }}
                ports:
                    - ${{ inputs.opendxp_open_search_host }}:9200
                env:
                    cluster.name: "opensearch-cluster"
                    node.name: "opensearch-node"
                    discovery.seed_hosts: "opensearch-node"
                    bootstrap.memory_lock: true
                    discovery.type: "single-node"
                    DISABLE_SECURITY_PLUGIN: true
                    OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"

            gotenberg:
                image: ${{ inputs.enable_gotenberg_service == true && 'gotenberg/gotenberg:8' || '' }}
                ports:
                    - 31234:3000

            redis:
                image: ${{ inputs.enable_redis_service == true && 'redis' || '' }}
                ports:
                    - 63379:6379

        steps:
            -   name: Checkout Code
                uses: actions/checkout@v4

            -   name: Configure Git for PAT
                run: |
                    git config --global url."https://x-access-token:${{ secrets.CLA_ACTION_ACCESS_TOKEN }}@github.com/".insteadOf "https://github.com/"

            -   name: Run Post Checkout Action
                if: inputs.execute_post_checkout_action
                uses: ./.github/actions/post-checkout-action
                with:
                    cla_action_access_token: ${{ secrets.CLA_ACTION_ACCESS_TOKEN }}

            -   name: Install OpenDXP Codeception Framework
                if: inputs.install_codeception_framework
                run: |
                    git clone -b ${{ env.OPENDXP_CODECEPTION_FRAMEWORK_VERSION_BRANCH }} --single-branch --depth 1 https://github.com/open-dxp/opendxp-codeception-framework.git

            -   name: Install PHP
                uses: shivammathur/setup-php@v2
                with:
                    coverage: ${{ inputs.coverage }}
                    extensions: imagick, intl
                    ini-values: display_errors=On, display_startup_errors=On, error_reporting=32767
                    php-version: ${{ inputs.php_version }}

            -   name: Install Ghostscript and PDFInfo
                if: inputs.install_ghostscript_and_pdfinfo
                run: |
                    sudo apt-get update --allow-releaseinfo-change
                    sudo apt-get install -y ghostscript poppler-utils

            -   name: Set Database Configuration
                run: |
                    cp .github/ci/files/.my.cnf ~/.my.cnf

            -   name: Setup Database
                run: |
                    mysql -e "CREATE DATABASE opendxp_test CHARSET=utf8mb4;"

            -   name: Setup Chromium
                if: inputs.enable_chromium
                run: |
                    export DISPLAY=:99
                    chromedriver --url-base=/wd/hub --port=9515 &
                    sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &

            -   name: Setup Symfony Server
                if: inputs.enable_symfony_server
                run: |
                    curl -sS https://get.symfony.com/cli/installer | bash -s -- --install-dir=$HOME/.symfony/bin
                    ~/.symfony/bin/symfony server:start --port=8080 --dir=public --allow-http --no-tls --daemon

            -   name: Setup OpenDXP environment
                run: |
                    chmod 755 .github/ci/scripts/setup-opendxp-environment.sh
                    .github/ci/scripts/setup-opendxp-environment.sh

            -   name: Set Symfony version constraint in composer.json
                if: matrix.symfony
                env:
                    SYMFONY_VERSION: ${{ matrix.symfony }}
                run: |
                    .github/ci/scripts/symfony-require-dev.sh

            -   name: Configure OpenDXP install preference
                if: inputs.use_opendxp_source
                run: |
                    composer config 'preferred-install.open-dxp/opendxp' 'source' --file composer.json
                    composer config 'preferred-install.*' 'dist' --file composer.json

            -   name: Update OpenDXP Version
                if: inputs.opendxp_version && !contains(github.repository, 'open-dxp/opendxp')
                run: |
                    composer require --no-update "open-dxp/opendxp:${{ inputs.opendxp_version }}"

            -   name: Update OpenDXP Admin Bundle Version
                if: inputs.opendxp_admin_version && !contains(github.repository, 'open-dxp/admin-bundle')
                run: |
                    composer require --no-update "open-dxp/admin-bundle:${{ inputs.opendxp_admin_version }}"

            -   name: Add Composer Suggestions
                if: inputs.composer_install_suggestions
                run: |
                    composer require $(cat composer.json | jq .suggest | jq -r 'to_entries | map("\(.key):\(.value)") | join(" ")') -W --no-progress --no-update

            -   name: Install dependencies with Composer
                uses: ramsey/composer-install@v3
                env:
                    COMPOSER_ROOT_VERSION: ${{ inputs.composer_root_version || '' }}
                with:
                    dependency-versions: ${{ inputs.dependencies }}
                    composer-options: ${{ inputs.composer_options }}

            -   name: Run cache clear
                if: inputs.cache_clear
                run: |
                    ./bin/console cache:clear --no-interaction

            -   name: Install Assets
                if: inputs.install_assets
                run: |
                    ./bin/console assets:install public --relative --symlink

            -   name: Run Codeception
                run: |
                    EXTRA_ARGS=""
                    if [ -n "${{ matrix.codecept_environment }}" ]; then
                      EXTRA_ARGS="--env ${{ matrix.codecept_environment }}"
                    fi
                    vendor/bin/codecept run -c . --debug --xml $EXTRA_ARGS

            -   name: Log Output
                uses: actions/upload-artifact@v4
                if: failure()
                with:
                    name: "Logs (PHP ${{ inputs.php_version }})"
                    path: ${{ github.workspace }}/tests/_output/
                    if-no-files-found: ignore
